.custom-word-spacing {
  /* word-break: break-all;
  word-spacing: 9999px; Large value to force break */
}

.first-panel {
  /* height: 100vh; Full viewport height */
}

.second-panel {
  /* height: 100vh;
  position: relative;
  overflow: hidden; */
}

.background {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: blue; /* Replace with your image */
  /* transition: transform 0.5s, filter 0.5s; */
}

.background.blur {
  /* filter: blur(5px); */
}

.center-panel {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.5s;
  opacity: 0;
  visibility: hidden; */
}

.center-panel.visible {
  /* transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible; */
}

.center-panel_1 {
  /* transform: translateY(-50%);
  bottom: 50%; */
}

.custom-heading1 {
  line-height: 1.2; /* Adjust line-height as needed */
}

.grid-container {
  display: grid;
  place-items: center; /* Aligns content in the center */
  height: 100vh; /* Full viewport height */
}

.content {
  height: 200px; /* Fixed height of your component */
  /* Other styles for your component */
}
